{% extends "layout.html" %}

{% block title %}
    Comments
{% endblock %}

{% block main %}
    <div class="form-wrapper">
    <div class="form-container">
        <form method="POST" action="/creategroup">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="permision">Permission only: </label>
                <input type="text" id="permission" name="permission" placeholder="Y/N" pattern="(Y|N)" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="content" name="description" rows="5" cols="20"></textarea>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endblock %}